@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-green: #0f766e;
$color-gray: #ececec;
$color-gold: #ce973e;
$color-white: #fff;
$color-black: #1f1f1f;

$font-stack: 'Montserrat', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

body {
    color: $color-black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: $color-green;
    color: $color-white;
    padding-top: 20px;
    padding-left: 30px;
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    gap: 70px;

    .logo {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .nav-1,
    .nav-2 {      
        padding-left: 10px;

        ul {
            display: grid;
            gap: 20px;

            li {
                list-style-type: none;

                a {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    color: $color-white;
                    text-decoration: none;
                    
                    p {
                        font-weight: 600;
                        font-size: 18px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 15px 3vw;
    row-gap: 10px;

    .search-bar {
        display: flex;
        align-items: center;
        gap: 15px;

        #search {
            width: 75%;
            height: 30px;
            background-color: $color-gray;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 0 15px;
        }
    }

    .icons {
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 25px;

        a {
            text-decoration: none;
            color: $color-black;
        }

        img {
            width: 40px;
            height: 40px;
        }

        p {
            font-weight: 600;
        }
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: 60px;
        }

        div {
            p {
                &:nth-child(1) {
                    font-weight: 600;
                    font-size: 12px;
                    padding-bottom: 5px;
                }

                &:nth-child(2) {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-self: end;
        gap: 25px;

        a {
            text-decoration: none;
            
            button {
                cursor: pointer;
                background-color: $color-gold;
                padding: 8px 25px;
                border: none;
                border-radius: 25px;
                color: $color-white;
                font-weight: 600;
            }
        }
    }
}

.main {
    background-color: $color-gray;
    box-shadow: 0 5px 5px #d6d6d6 inset;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;

    .projects {
        grid-row: 1 / 3;
        border: 1px solid;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .projects-cards {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 1fr;
            gap: 20px;
            
            .project-card {
                display: grid;
                grid-template-columns: 8px 1fr;
                grid-template-rows: 2fr 1fr;
                background-color: $color-white;
                border-radius: 8px;

                .project-border {
                    grid-row: 1 / 3;
                    background-color: $color-gold;
                    border-radius: 8px 0 0 8px;
                }

                .project-text {
                    padding: 20px 30px;

                    h3 {
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                    
                    p {
                        font-size: 14px;
                    }
                }

                .project-icons {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 30px;
                    padding-right: 30px;

                    a {
                        color: $color-black;
                        text-decoration: none;
                        transition: all 0.25s ease;
                    
                        &:hover {
                            color: $color-gold;
                        }
                    }
                }
            }
        }
    }
    
    .news {
        border: 1px solid;
    }

    .trending {
        border: 1px solid;
    }
}